* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(to right, rgb(59, 79, 53), rgb(8, 115, 222), rgb(124, 140, 191));
}

.carousel {
    width: 100%;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    border-top: 2px solid rgb(89, 228, 149);
    border-bottom: 2px solid rgb(89, 228, 149);
}

.container {
    position: absolute;
    width: 200px;
    height: 300px;
    border-radius: 7px;
    overflow: hidden;
    transition: all 0.5s;
    background-color: antiquewhite;
}

.container-center {
    scale: 1.1;
}

.container-left-1 {
    transform: translateX(-230px);
    scale: 1;
}

.container-left-2 {
    transform: translateX(-490px);
    scale: 0.9;
}

.container-right-1 {
    transform: translateX(230px);
    scale: 1;
}

.container-right-2 {
    transform: translateX(490px);
    scale: 0.9;
}

.container-center .card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background:url("./assets/81Q1rPxM8EL._AC_UF894\,1000_QL80_.jpg") center / cover no-repeat; ;
}

.container-left-1 .card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background:url("./assets/ai-image-generator-two.webp") center / cover no-repeat; ;
}

.container-left-2 .card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background:url("./assets/ash_orange_red_lava_abstract_hd_abstract.jpg") center / cover no-repeat; ;
}

.container-right-1 .card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background:url("./assets/Imgupscaler_2_2x.webp") center / cover no-repeat; ;
}

.container-right-2 .card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background:url("./assets/heliconia-8599119_640.jpg") center / cover no-repeat; ;
}


/*
.container-center:hover {
    animation: scaler 1s linear infinite;
}
*/

.carousel-controller {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 30px;
    border: 1px solid white;
    outline: none;
    background-color: transparent;
    padding: 20px;
    color: beige;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background: rgba(0,0,0,0.2);
}

@keyframes scaler {
    0% {
        scale: 1.2;
    }

    100% {
        scale: 1.25;
    }
}